.wrapper {
	display: grid;
	grid-gap: 1rem 1.5rem;
	padding: 0 2rem;
	grid-template-columns: 1fr;
}

.character {
	box-shadow: 31px 40px 104px 1px rgba(0, 0, 0, 0.46);
	color: #191919;
	background: #f9f9f5;
	text-align: left;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin: 0.5rem 0 1rem;
	font-family: 'Asap', sans-serif;
	font-size: 2.2rem;
	font-weight: bold;
	text-decoration: underline;
}

.character-list {
	list-style: none;
	padding-left: 0;
}

.character-list li {
	font-size: 1.8rem;
	margin-bottom: 0.8rem;
	line-height: 1.3;
	font-family: 'Asap', sans-serif;
}

.character-list li:last-of-type {
	margin-bottom: 0;
}

.character-list .bold {
	font-weight: bold;
}

@media (min-width: 800px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1200px) {
	.wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.wrapper .character:last-of-type {
		grid-column: 2;
	}
}
